/* kurupira colors */

/* 
colors doc: 
    primary: #2C3E50
    secundary: #2980B9

colors kurupira:
    primary: #E74C3C
    secundary: #2C3E50
*/

.k-cian-darken{
    background-color: #2C3E50 !important;
}
.k-cian-darken-text{
    color: #2C3E50 !important;
}

.k-cian{
    background-color: #2980B9 !important;
}
.k-cian-text{
    color: #2980B9 !important;
}

.k-green{
    background-color: #A6DB34 !important;
}
.k-green-text{
    color: #A6DB34 !important;
}

.k-red{
    background-color: #E74C3C !important;
}
.k-red-text{
    color: #E74C3C !important;
}

.k-grey{
    background-color: #ECF0F1 !important;
}
.k-grey-text{
    color: #ECF0F1 !important;
}


/* kurupira font */

@font-face {
  font-family: "Josefin Sans";
  src: local(Josefin Sans Thin), url("../fonts/joesfinsans/JosefinSans-Thin.ttf");
  src: url("../fonts/joesfinsans/JosefinSans-Thin.ttf") format("truetype") !important;
}

@font-face {
  font-family: "Josefin Sans";
  src: local(Josefin Sans Light), url("../fonts/joesfinsans/JosefinSans-Light.ttf");
  src: url("../fonts/joesfinsans/JosefinSans-Light.ttf") format("truetype") !important;
}

@font-face {
  font-family: "Josefin Sans";
  src: local(Josefin Sans Regular), url("../fonts/joesfinsans/JosefinSans-Regular.ttf");
  src: url("../fonts/joesfinsans/JosefinSans-Regular.ttf") format("truetype") !important;
}

@font-face {
  font-family: "Josefin Sans";
  src: local(Josefin Sans SemiBold), url("../fonts/joesfinsans/JosefinSans-SemiBold.ttf");
  src: url("../fonts/joesfinsans/JosefinSans-SemiBold.ttf") format("truetype") !important;
}

@font-face {
  font-family: "Josefin Sans";
  src: local(Josefin Sans Bold), url("../fonts/joesfinsans/JosefinSans-Bold.ttf");
  src: url("../fonts/joesfinsans/JosefinSans-Bold.ttf") format("truetype") !important;
}

html {
  font-family: "Josefin Sans", sans-serif; /* definindo fonte no html */
  font-style: normal;
  font-size: 1rem;
}

.font-thin {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
}

.font-light {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

.font-regular {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.font-semibold {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

.font-bold {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}


/* text shadows */

.text-shadow-1{
  text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}

.text-shadow-1-half{
  text-shadow: 0 4px 7px  rgba(0, 0, 0, 0.18), 0 4px 15px  rgba(0, 0, 0, 0.15);
}

.text-shadow-2 {
  text-shadow: 0 6px 9px  rgba(0, 0, 0, 0.2), 0 6px 20px  rgba(0, 0, 0, 0.19);
}

.text-shadow-3 {
  text-shadow: 0 8px 13px  rgba(0, 0, 0, 0.24), 0 17px 50px  rgba(0, 0, 0, 0.19);
}


/* code edits */

code{
    overflow: auto;
    white-space: nowrap;
    width: 860px;
    background-color: #F1F1F1;
    border: 1px solid #9F9F9F;
    margin-bottom: 10px;
    text-align: left;
    box-sizing: border-box;
    display: block;
}

/* lists edits */

ul.doc-ul li{
    list-style-type: disc !important;
}

ol.doc-ol li{
    list-style-type: upper-roman !important;
}


/* link edits */

a{
    color: #2980B9;
    -webkit-transition:  1.5s;
    -moz-transition:  1.5s;
    transition: 1.5s;
}

a:hover{
    color: #2C3E50;
    -webkit-transition:  1.5s;
    -moz-transition:  1.5s;
    transition: 1.5s;
}


/* blockquote edits */

blockquote{
    border-left: 5px solid #E74C3C;
}


/* selection edits */

p::selection{ 
    background: #2C3E50; 
    color: #fff; 
}

blockquote::selection{
    background: #2C3E50; 
    color: #fff; 
}

p::-moz-selection{ 
    background: #2C3E50; 
    color: #fff; 
}

h1::selection{ 
    background: #2C3E50; 
    color: #fff; 
} 

h1::-moz-selection{ 
    background: #2C3E50; 
    color: #fff; 
}

h2::selection{ 
    background: #2C3E50; 
    color: #fff; 
} 

h2::-moz-selection{ 
    background: #2C3E50; 
    color: #fff; 
}

h3::selection{ 
    background: #2C3E50; 
    color: #fff; 
} 

h3::-moz-selection{ 
    background: #2C3E50; 
    color: #fff; 
}

h4::selection{ 
    background: #2C3E50; 
    color: #fff; 
} 

h4::-moz-selection{ 
    background: #2C3E50; 
    color: #fff; 
}

h5::selection{ 
    background: #2C3E50; 
    color: #fff; 
} 

h5::-moz-selection{ 
    background: #2C3E50; 
    color: #fff; 
}

h6::selection{ 
    background: #2C3E50; 
    color: #fff; 
} 

h6::-moz-selection{ 
    background: #2C3E50; 
    color: #fff; 
}

i::selection{ 
    background: #2C3E50; 
    color: #fff; 
} 

i::-moz-selection{ 
    background: #2C3E50; 
    color: #fff; 
}

a::selection{ 
    background: #2C3E50; 
    color: #fff; 
} 

a::-moz-selection{ 
    background: #2C3E50; 
    color: #fff; 
}

code::selection{ 
    background: #2C3E50; 
    color: #fff; 
} 

code::-moz-selection{ 
    background: #2C3E50; 
    color: #fff; 
}


/* navbar edits */

nav li a{
    transition-duration: 0.1s
}

nav li a:hover {
    color: white;
    background-color: #2C3E50;
    border-bottom: 5px solid white;
    transition-duration: 0.1s
}

 nav li a.active{
     border-bottom: 5px solid white;
 }